<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<!--
				The first section defines logging of current time.
				%t stands for the thread name
				%level will print the log level (INFO, WARN, TRACE, ...)
				%logger will print the name of the logger (e.g. doip.simulation)
				%m is the log message.
				%n is a new line character.
			 -->
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%-20t]  %-6level %-56logger - %msg%ex{10}%n"/>
			<!--<ThresholdFilter threadName="TCP-SERV" onMatch="ACCEPT" onMismatch="DENY"/>-->
		</Console>
		<File name="logs/trace.log" fileName="trace.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%-20t]  %-6level %-56logger - %msg%ex{10}%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="doip.library.comm.DoipTcpStreamBuffer" level="WARN" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>
		<Logger name="doip.library.util.StreamBuffer" level="WARN" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>

		<Root level="TRACE">
			<AppenderRef ref="console" />
			<AppenderRef ref="trace.log" />
		</Root>
	</Loggers>
</Configuration>
